:root{
    /* TYPO */
    --font-title: 'Rufina', serif;
    --font-text: 'Open Sans', sans-serif;

    /* SIZE */
    --fs-h1: 40px;
    --fs-h2: 30px;
    --fs-subtitle: 20px;
    --fs-text: 14px;
    --fs-label: 16px;
    --fs-steps: 120px;
    --fs-footer: 25px;

    /* WEIGHT */
    --fw-title: 700;
    --fw-text: 400;
    --fw-label: 500;
    --fw-footer: 800;

    /* COLORS */
    --clr-accent: #01996D;
    --clr-accent-light: #5ec9aa;
    --clr-text: #292929;
    --clr-text-alt: #FFFFFF;
    --clr-bg: #245852;
}