:root{
    /* TYPO */
    --font-title: 'Rufina', serif;
    --font-text: 'Open Sans', sans-serif;

    /* SIZE */
    --fs-h1: 2.5em;
    --fs-h2: 1.875em;
    --fs-subtitle: 1.25em;
    --fs-text: .8em;
    --fs-label: 1em;
    --fs-steps: 7.5em;
    --fs-footer: 1.55em;

    /* WEIGHT */
    --fw-title: 700;
    --fw-text: 400;
    --fw-label: 500;
    --fw-footer: 800;

    /* COLORS */
    --clr-accent: #01996D;
    --clr-accent-light: #5ec9aa;
    --clr-text: #292929;
    --clr-text-alt: #FFFFFF;
    --clr-bg: #245852;
}
